
body{
  background-color:  #115ff4 ;
}

#jeopardy {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 4vh;
  margin-left: 2vh;
  margin-right: 2vh;
  background-color: #060ce9;
  color: white;
  font-size: 8pt;
  border-collapse: collapse;
}

 #jeopardy th, #jeopardy td {
  border: solid 2px white;
  width: 90vh;
  height: 13vh; 
  padding-left: 1vh;
  padding-right: 1vh;
}


td {
  font-family: sans-serif;
  letter-spacing:2px;
}
  
td:hover {
  cursor: pointer;
}

 #jeopardy th {
  text-transform: uppercase;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:3px;
  font-weight: bold;
  padding-top: 3vh;
  padding-bottom: 3vh;
  width:auto;
  height: auto;
 }

 button{
  padding-y: 4px;
  color: white;
  font-size: 12pt;
  align-content: center;
  letter-spacing: 3px;
  margin-bottom: 2vh;
  margin-left: 2vh;
  height: 4vh;
  width: 10vh;
  background:  #28a200 ;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  font-weight:bold
 }

#spin-container{
  margin-top: -5vh;
  margin-bottom: 4vh; 
  margin-left: 13vh;
  color: white;
 }

 h1{
 margin-left: 2vh;
 color: white;
 }